@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,400i");

* {
  margin: 0;
  padding: 0;
}

a {
  color: #843ffb;
  transition: 0.3s;
}

a:hover {
  color: #29cb9d;
}

.splashtitle {
  position: absolute;
  z-index: 1;
  margin: 17vw 0px 0px 5vw;
  display: flex;
  justify-content: space-between;
  width: 85vw;
}

#outlined-search {
  height: 5vh;
  color: white;
  font-size: 4em;
}

.flex-container {
  display: flex;
  border: 1px solid green;
  justify-content: space-between;
  padding: 5px;
  margin-top: 8vh;
}

.flex-item {
  margin: 5px;
}

.flex-item:first-child {
  /* background-color: aqua; */
  flex: 2;
}

.flex-item:nth-child(2) {
  /* background-color: blueviolet; */
  flex: 1;
}

.flex-item:last-child {
  background-color: beige;
  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
}

#remote-media video {
  width: inherit;
  height: 200px;
}

#searchcontainer {
  margin: 8vh 0px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#searchbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.bar {
  display: flex;
}

#audio {
  height: 6vw;
  width: 6vw;
}
